[QoISettings]
qoi = 14
qoi_string = x^2
#Following are the regional QoI parameters:
#qoiRegionMode = 1
#Whether to use regional QoI. 0: no region 1: regional average 2: laplacian 3: gradient length
#qoiRegionSize = 4
#The side length of QoI region. e.g., 4 is 4x4x4 block region for 3D data.
#confidence = 0.999
#The confidence (beta) parameter in paper. For SZ3, the recommended value is 0.99999.
error_std_rate = 2.0
#The c parameter in paper.
